<H1> TinyApp </H1>

<% if (userObject !== undefined) { %>
<%= `Logged In As: ${userObject.email}` %>
<form method="POST" action="/logout" style="display: inline-block">
    <button type="submit" class="btn btn-primary btn-sm">Logout</button>
</form>
<% } else { %>
  <a href='http://localhost:8080/register'>Register | </a>
  <a href="http://localhost:8080/login">Login</a>
<% } %>
