<H1> TinyApp </H1>
<% if (userObject.email !== undefined) { %>
<%= `Logged In As: ${userObject.email}` %>
<form method="POST" action="/logout" style="display: inline-block">
    <button type="submit" class="btn btn-primary btn-sm">Logout</button>
</form>
<% } else { %>
<form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <% } %>
</form>