<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <% include ./partials/_header %>
    <br>
    <a href='http://localhost:8080/urls/new'>Create New TinyURL</a> <br>
    <br>
    <h4> My URLs </h4>
    <ul>
        <% for (let i in urls) { %>
        <li>
            <%= urls[i].shortUrl + ": " + urls[i].longUrl %>
            <a class="btn btn-primary btn-sm" href="http://localhost:8080/urls/<%= urls[i].shortUrl  %>" role="button">Edit</a>
            <form method="POST" action="/urls/<%= urls[i].shortUrl  %>/delete" style="display: inline-block">
                <button type="submit" class="btn btn-primary btn-sm">Delete URL</button>
            </form>
        </li>
        <% }; %>
    </ul>
</body>

</html>